@import 'ui.css';

:root {
    --tiny-space: 0.2em;
    --small-space: 0.5em;
    --space: 1em;
    --ui-input-width: 8em;
    --ui-input-width-small: 5em;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
    image-rendering: pixelated;
}
