@import 'ui.css';

:root {
    --small-space: 0.5em;
    --space: 1em;
    --ui-width: 15em;
    --ui-input-width: 8em;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
}
