#ui {
    position: absolute;
    top: var(--space);
    right: var(--space);
    background: white;
    padding: var(--small-space);
}

#ui div {
    display: flex;
    align-items: center;
    height: 1.5em;
    margin-bottom: var(--tiny-space);
}

#ui label {
    margin-right: auto;
}

#ui input, select {
    box-sizing: border-box;
    margin-left: var(--space);
}

#ui input {
    width: var(--ui-input-width);
}

#ui input[type='number'] {
    width: var(--ui-input-width-small);
}

#ui input[type='checkbox'] {
    width: unset;
}
